<div id="<%= dom_id quest %>">
  <p>
    <strong>Name:</strong>
    <%= quest.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= quest.description %>
  </p>
  <p>
    <strong>Reward exp:</strong>
    <%= quest.reward_exp %>
  </p>
  <p>
    <strong>Reward level:</strong>
    <%= quest.reward_level %>
  </p>
  <p>
    <strong>Max level:</strong>
    <%= quest.max_level %>
  </p>
  <p>
    <strong>Min level:</strong>
    <%= quest.min_level %>
  </p>
</div>
