<div id="<%= dom_id hero %>">
  <h1><%= hero.name %> (<%= hero.level %>)</h1>
  <h3><%= hero.race.name %> -  <%= hero.class_name.name %> - <%= hero.background.name %></h3>
  <p>
    <strong>Exp:</strong>
    <%= hero.exp %>
  </p>

  <table style="width: 30%;">
    <tbody>
      <tr>
        <td>STR</td>
        <td><%= hero.str %></td>
      </tr>
      <tr>
        <td>DEX</td>
        <td><%= hero.dex %></td>
      </tr>
      <tr>
        <td>INT</td>
        <td><%= hero.int %></td>
      </tr>
      <tr>
        <td>CON</td>
        <td><%= hero.con %></td>
      </tr>
      <tr>
        <td>FREE POINTS</td>
        <td><%= hero.free_points %></td>
      </tr>
    </tbody>
  </table>
</div>
