<div id="<%= dom_id hero %>">
  <p>
    <strong>Name:</strong>
    <%= hero.name %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= hero.race_id %>
  </p>

  <p>
    <strong>Class name:</strong>
    <%= hero.class_name_id %>
  </p>

  <p>
    <strong>Background:</strong>
    <%= hero.background_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= hero.level %>
  </p>

  <p>
    <strong>Exp:</strong>
    <%= hero.exp %>
  </p>

  <p>
    <strong>Free points:</strong>
    <%= hero.free_points %>
  </p>

  <p>
    <strong>Str:</strong>
    <%= hero.str %>
  </p>

  <p>
    <strong>Dex:</strong>
    <%= hero.dex %>
  </p>

  <p>
    <strong>Int:</strong>
    <%= hero.int %>
  </p>

  <p>
    <strong>Con:</strong>
    <%= hero.con %>
  </p>

</div>
