<h1>Heros</h1>
<%= link_to "New hero", new_hero_path, class: "button" %>
<br/>
<table id="heros">
  <thead>
    <tr>
      <th>Name</th>
      <th>Race</th>
      <th>Class</th>
      <th>Background</th>
    </tr>
  </thead>
  <tbody>
    <% @heros.each do |hero| %>
    <tr>
      <td><%= link_to "#{hero.name} (#{hero.level})", hero %></td>
      <td><%= hero.race.name %></td>
      <td><%= hero.class_name.name %></td>
      <td><%= hero.background.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
